[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
ipython = "*"
pylint = "*"
autopep8 = "*"
mypy = "*"
sqlalchemy-stubs = "*"

[packages]
uvicorn = "*"
fastapi = "*"
sqlalchemy = "*"
alembic = "*"
werkzeug = "*"
starlette-prometheus = "*"

[requires]
python_version = "3.9"
